<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <apprendar name="FILE-AUDIT"
               class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logbacklogging.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/logbacklogging.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </apprendar>

    <logger name="com.example.logbacklogging" level="debug" additivity="false">
        <apprender-ref ref="FILE-AUDIT"/>
    </logger>

    <logger name="org.springframework.web" level="debug" additivity="false">
        <apprender-ref ref="FILE-AUDIT"/>
    </logger>

    <root level="error">
        <apprender-ref ref="FILE-AUDIT"/>
    </root>


</configuration>